
<div class="app-componente">
    <div class="card">
        <div class="card-content">
            <div class="card-title">
                Crear Nueva Tarea
            </div>
            <form [formGroup]="form" class="responsive-container">
                
                <div class="form-item">
                <label for="nameTask">Nombre de la tarea <span class="color-error">*</span></label>
                <input id="nameTask" formControlName="nameTask" type="text" class="form-control" />
                <div *ngIf="form.get('nameTask')?.invalid && form.get('nameTask')?.touched" class="error-message">
                    El nombre es obligatorio.
                </div>
                </div>
            
                <div class="form-item">
                <label for="finalDate">Fecha limite <span class="color-error">*</span></label>
                <input id="finalDate" formControlName="finalDate" type="datetime-local" class="form-control" />
                <div  class="error-message">
                    {{ form.get('finalDate')?.invalid && form.get('finalDate')?.touched ? "Ingresa un correo electrónico válido." : "."}} 
                </div>
                </div>
            </form>
        </div>
    </div>
    <app-person [form]="form"></app-person>
    <div class="center" style="margin-top: 20px; margin-bottom: 50px;">
        <button (click)="onSubmit()" type="submit" class="submit-button color-primary" [disabled]="form.invalid">
            <div class="center gap">
                <svg *ngIf="form.invalid" xmlns="http://www.w3.org/2000/svg" height="24px" viewBox="0 -960 960 960" width="24px" fill="#ffffff"><path d="M840-680v480q0 33-23.5 56.5T760-120H200q-33 0-56.5-23.5T120-200v-560q0-33 23.5-56.5T200-840h480l160 160Zm-80 34L646-760H200v560h560v-446ZM480-240q50 0 85-35t35-85q0-50-35-85t-85-35q-50 0-85 35t-35 85q0 50 35 85t85 35ZM240-560h360v-160H240v160Zm-40-86v446-560 114Z"/></svg>
                <svg *ngIf="!form.invalid" xmlns="http://www.w3.org/2000/svg" height="24px" viewBox="0 -960 960 960" width="24px" fill="#333333"><path d="M840-680v480q0 33-23.5 56.5T760-120H200q-33 0-56.5-23.5T120-200v-560q0-33 23.5-56.5T200-840h480l160 160Zm-80 34L646-760H200v560h560v-446ZM480-240q50 0 85-35t35-85q0-50-35-85t-85-35q-50 0-85 35t-35 85q0 50 35 85t85 35ZM240-560h360v-160H240v160Zm-40-86v446-560 114Z"/></svg>
                Guardar Tarea
            </div>
        </button>
    </div>
</div>
<ng-container #alertContainer></ng-container>