<div class="container">
    <div class="image-container">
        <img src="https://img.freepik.com/vector-premium/personaje-dibujos-animados-nina-buscando-lupa-sobre-fondo-blanco_1302-23110.jpg" alt="404 Not Found">
    </div>
    <div class="text-container">
        <h1>Página No Encontrada</h1>
        <h2>404</h2>
        <p>Lo sentimos, la página que estás buscando no existe.</p>
        <div class="center" style="margin-top: 20px; margin-bottom: 50px;">
            <button (click)="goToRoute()" type="submit" class="submit-button color-secundary text-media" >
                <div class="center">
                    <svg xmlns="http://www.w3.org/2000/svg" height="24px" viewBox="0 -960 960 960" width="24px" fill="#333333"><path d="m313-440 224 224-57 56-320-320 320-320 57 56-224 224h487v80H313Z"/></svg>                    volver al inicio
                </div>
            </button>
        </div>
    </div>
</div>